//  Blueprint.js colors
//  blueprintjs.com/docs/#core/colors
//  ───────────────────────────────────

// Greyscale
$black: #10161a;
$white: #fff;

$dark-grey1: #182026;
$dark-grey2: #202B33;
$dark-grey3: #293742;
$dark-grey4: #30404D;
$dark-grey5: #394B59;

$grey1: #5C7080;
$grey2: #738694;
$grey3: #8A9BA8;
$grey4: #A7B6C2;
$grey5: #BFCCD6;

$light-grey1: #CED9E0;
$light-grey2: #D8E1E8;
$light-grey3: #E1E8ED;
$light-grey4: #EBF1F5;
$light-grey5: #F5F8FA;

// Colors
$blue1: #0E5A8A;
$blue2: #106BA3;
$blue3: #137CBD;
$blue4: #2895D6;
$blue5: #48AFF0;

$cobalt1: #1F4B99;
$cobalt2: #2458B3;
$cobalt3: #2965CC;
$cobalt4: #4580E6;
$cobalt5: #669EFF;

$forest1: #1D7324;
$forest2: #238C2C;
$forest3: #29A634;
$forest4: #43BF4D;
$forest5: #62D96B;

$gold1: #A67908;
$gold2: #BF8C0A;
$gold3: #D99E0B;
$gold4: #F2B824;
$gold5: #FFC940;

$red1: #A82A2A;
$red2: #C23030;
$red3: #DB3737;
$red4: #F55656;
$red5: #FF7373;

// Colors for graphing
$vermilion1: #9E2B0E;
$vermilion2: #B83211;
$vermilion3: #D13913;
$vermilion4: #EB532D;
$vermilion5: #FF6E4A;

$rose1: #A82255;
$rose2: #C22762;
$rose3: #DB2C6F;
$rose4: #F5498B;
$rose5: #FF66A1;

$violet1: #5C255C;
$violet2: #752F75;
$violet3: #8F398F;
$violet4: #A854A8;
$violet5: #C274C2;

$indigo1: #5642A6;
$indigo2: #634DBF;
$indigo3: #7157D9;
$indigo4: #9179F2;
$indigo5: #AD99FF;

$turquoise1: #008075;
$turquoise2: #00998C;
$turquoise3: #00B3A4;
$turquoise4: #14CCBD;
$turquoise5: #2EE6D6;

$lime1: #728C23;
$lime2: #87A629;
$lime3: #9BBF30;
$lime4: #B6D94C;
$lime5: #D1F26D;

$sepia1: #63411E;
$sepia2: #7D5125;
$sepia3: #96622D;
$sepia4: #B07B46;
$sepia5: #C99765;

$orange1: #A66321;
$orange2: #BF7326;
$orange3: #D9822B;
$orange4: #F29D49;
$orange5: #FFB366;

$green1: #0A6640;
$green2: #0D8050;
$green3: #0F9960;
$green4: #15B371;
$green5: #3DCC91;
